
.background2{
	background-color:whitesmoke;
}
.row2{
	padding: 20px;
}
h3,h4,h7{
	text-align: center;
}
.check{
	padding: 10px;
}
.block {
	display: block;
	width: 100%;
	border: none;
	background-color: #04AA6D;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }
  .button_cart {
	background-color:white;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
  }